<div class="login-button-container">
    {{#if this.session.loggedIn}}
        <p>Hi, user!</p>
    {{else}}
        <button type="button" {{on "click" this.redirectToLogin}}>
            Login with GitHub
        </button>
    {{/if}}
</div>