<nav class="menubar">
  <LinkTo @route="index" class="menu-index">
    <h1>Eventageous</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="new-event">
      New Event
    </LinkTo>
    <LinkTo @route="about">
      About
    </LinkTo>
  </div>
</nav>