<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>Americano</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="about" class="menu-about">
      About
    </LinkTo>
  </div>
</nav>