<Base>
<h2>Upcoming events</h2>

<div class="events">
    <ul class="event">
        {{#each @model as |event|}}
            <li>
                <Event @event={{event}} />
            </li>
        {{/each}}
    </ul>
</div>
</Base>