<Base>
<h2>New Event</h2>
<p>
    Create a new event
</p>

<div class="newevent">
    <label for="summary">Summary:</label>
    <Input id="summary" @type="text" @value="Short summary of your event" />

    <label for="description">Description:</label>
    <Textarea id="description" @type="text" @value="Longer description of your event" rows="6" cols="80" />
</div>

</Base>